<!-- section footer start -->
<div class="section_footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3"><img src="/images/shop/email-icon.png"><span
                    class="map_text">fashlyticalhelp@gmail.com</span></div>
            <div class="col-sm-6 col-lg-2"></div>
            <div class="col-sm-6 col-lg-2">
                <a href="/"><img src="/images/shop/logo.png"></a>
            </div>
        </div>
    </div>
</div>
<!-- section footer end -->
<!-- Javascript files-->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>